<p id="notice"><%= notice %></p>

<h1>App Instances</h1>

<table class='table'>
  <thead>
    <tr>
      <th>App</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @app_instances.each do |app_instance| %>
      <tr>
        <td><%= link_to app_instance.app.name, app_instance %></td>
        <td><%= app_instance.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App Instance', new_app_instance_path, class: 'btn btn-info' %>
