<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, app %></td>
        <td><%= app.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App', new_app_path, class: 'btn btn-info' %>
